@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *{
//   border: 1px solid red;
// }

html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  
}



* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

main {
  min-height: 100svh;
}

button {
  background-color: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
}

input {
  padding: 14px 8px;

  &::placeholder {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.45px;
    letter-spacing: -2%;
    color: white;
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 20px;

  @media screen and (min-width: 1000px) {
    column-gap: 45px;
    row-gap: 55px;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
  }
}

.logos img {
  @media screen and (min-width: 768px) {
    aspect-ratio: 4/2;
    object-fit: contain;
    /* width: 100%; */
  }
}

@layer components {
  .resp-margin {
    @apply mx-6 md:mx-32px lg:mx-75px;
  }

  .resp-padding {
    @apply px-6 md:px-32px lg:px-75px py-[64px];
  }

  .border-1px {
    @apply border-b-[1px] border-b-[#FFFFFF26];
  }
}
